@model Employee
@{
    ViewBag.Title = "Index";
}

    <form method="post">
        Name : @Html.TextBoxFor(emp => emp.Name, new {@class="form-control" }) @Html.ValidationMessageFor(emp => emp.Name)
        Email : @Html.TextBoxFor(emp => emp.Email, new { @class = "form-control" }) @Html.ValidationMessageFor(emp => emp.Email)
        Salary : @Html.TextBoxFor(emp => emp.Salary, new { @class = "form-control" }) @Html.ValidationMessageFor(emp => emp.Salary)
        Address : @Html.TextAreaFor(emp => emp.Address, new { @class = "form-control" }) @Html.ValidationMessageFor(emp => emp.Address)
        <input type="submit" value="Add Employee" />

    </form>
